.contact-area{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: white;
}
.contact-area h4{
    font-size: 18px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.map-area {
    margin-top: 30px;
}
.map-area iframe {
    width: 100%;
    height: 450px;
}
